{% extends "Admin/admin.html" %}

{% load static %}

{% block content %}

<div class="content py-5">
    <h1>Product</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td><input type="text" id="name" name="name"></td>
          </tr>
          <tr>
            <th>Product Category:</th>
            <td>
                <select name="product_category" id="product_category" required>
                    <option value="" disabled selected>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </td>
          </tr>
          <tr>
            <th>Description:</th>
            <td><textarea id="description" name="description"></textarea></td>
          </tr>
          <tr>
            <th>Change Image:</th>
            <td><input type="file" id="image" name="image"></td>
          </tr>
          <tr>
            <th>Price:</th>
            <td><input type="number" id="price" name="price"></td>
          </tr>
          <tr>
            <th>Stock:</th>
            <td><input type="number" id="stock" name="stock"></td>
          </tr>
          <tr>
            <th>Available:</th>
            <td><input type="checkbox" name="is_available" id="is_available"</td>
          </tr>
          <tr>
            <td><button type="submit">Update</button></td>
          </tr>
        </tbody>
      </table>
    </form>
    
    

</div>


{% endblock content %}