{% extends "Admin/admin.html" %}

{% load static %}

{% block content %}

<div class="content py-5">
    <h1>Category</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td><input type="text" id="name" name="name" value="{{ category.name }}"></td>
          </tr>
          <tr>
            <th>Description:</th>
            <td><textarea id="description" name="description">{{ category.description }}</textarea></td>
          </tr>
          <tr>
            <th>Current Image:</th>
            <td>{% if category.image %}
                <img src="{{ category.image.url }}" alt="Category Image" style="max-width: 150px; max-height: 150px;">
            {% else %}
                <p>No image available</p>
            {% endif %}</td>
          </tr>
          <tr>
            <th>Change Image:</th>
            <td><input type="file" id="image" name="image"></td>
          </tr>
          <tr>
            <td><button type="submit">Update</button></td>
          </tr>
        </tbody>
      </table>
    </form>
    
    

</div>


{% endblock content %}